<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 shadow">
        <h2 style="text-align:center; color:rgba(244,28,81,1.00); margin-top: 10px;    font-size:17px;    padding-top: 21px; padding-bottom:8px;">
            <span style="border:1px solid rgba(225,221,221,1.00); border-radius:5px; padding:5px 20px;">TERMS AND CONDITIONS</span></h2>
        <!-- <li>Use code: NEUCARDMAY24</li>
        <li>10 % instant Discount, Up to Rs 200, Minimum order Rs.1500</li>
        <li>If a user doesn't has NeuCard, to avail the offer, please apply here: https://tinyurl.com/y5ha55c5</li>
        <li>Order through Big Basket App : Get additional 5% NeuCoins (with NeuCard Infinity) & additional 2% NeuCoins (with NeuCard Plus) (No Upper Cap)</li>
        <li>Order through Tata Neu App: Get additional 10% NeuCoins (NeuCard Infinity) & additional 7% NeuCoins (NeuCard Plus) (No Upper Cap)</li>
        <li>Offer valid only on  Tata Neu HDFC Bank Credit Cards</li>
        <li>Offer not valid on Debit Cards and Net Banking</li>
        <li>Offer valid between 1st to 10th MAY, 2024</li>
        <li>Maximum discount of Rs.200 per card during the offer period</li>
        <li>Valid once per card and once per user during the offer period</li>
        <li>NeuCoins Reward points earned on Grocery transactions will be capped to 2,000 per month for Tata Neu Infinity HDFC Bank Credit card and 1,000 per month for the Tata Neu Plus HDFC Bank Credit Card</li>
        <li>Offer applicable on website, app, m-site & Tata Neu App</li>
        <li class="border">Minimum order amount should be settled using bank card</li>
        <li>Valid only on payments made online. Not valid on Card on Delivery</li>
        <li>Voucher should be used at the time of placing the order</li>
        <li>If bigbasket wallet credit is used at the time of placing the order, the voucher cannot be applied after the order is placed in 'Pay Now' option</li>
        <li>Cannot be clubbed with any other offer</li>
        <li>bigbasket has the right to cancel orders if found to be of fraudulent nature</li>
        <li>bigbasket & Tata Neu HDFC reserves the right to change / modify / add / delete any of the terms and conditions of the offer at any time without notice</li>
        <li>Excludes the following products and categories from redemption: Baby Cereals, Baby Foods, Infant Formula, Organic Baby Foods and Srilalitha Rice of all pack sizes</li>
            -->
            <ul style="padding-left: 30px; margin-top: 0px; padding-bottom: 24px; padding-right:15px;   font-size: 13px; ">
                <li class="border" >
                    Use code: NEUCARDMAY24</li>
                <li class="border">
                    10 % instant&nbsp;Discount, Up to Rs 200, Minimum order Rs.1500</li>
                <li class="border">
                    If a user doesn't has NeuCard, to avail the offer, please apply here:&nbsp;<a href="https://tinyurl.com/y5ha55c5">https://tinyurl.com/y5ha55c5</a></li>
                <li class="border" >
                    <p>
                        <span style="background-color: transparent; font-size: 10pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Order through Big Basket App</span><span style="background-color: transparent; font-size: 10pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;"> : </span>Get additional 5% NeuCoins (with NeuCard Infinity) &amp; additional 2% NeuCoins (with NeuCard Plus)&nbsp;(No Upper Cap)</p>
                </li>
                <li class="border" >
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><span style="font-size: 10pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">Order through Tata Neu App</span><span style="font-size: 10pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;">: </span>Get additional 10% NeuCoins (NeuCard Infinity) &amp; additional 7% NeuCoins (NeuCard Plus)&nbsp;(No Upper Cap)</span></li>
                <li class="border">
                    Offer valid only on&nbsp; Tata Neu HDFC Bank&nbsp;Credit&nbsp;Cards</li>
                <li class="border" >
                    Offer not valid on Debit Cards and&nbsp;Net Banking</li>
                <li class="border">
                    Offer valid between 1st to 10th MAY,&nbsp;2024</li>
                <li class="border" >
                    Maximum discount of Rs.200&nbsp;per card during the offer period</li>
                <li class="border" >
                    Valid once per card and once per user during the offer period</li>
                <li class="border" >
                    NeuCoins Reward points earned on Grocery transactions will be capped to 2,000 per month for Tata Neu Infinity HDFC Bank Credit card and 1,000 per month for the Tata Neu Plus HDFC Bank Credit Card.</li>
                <li class="border" >
                    Offer applicable on website, app, m-site &amp; Tata Neu App</li>
                <li class="border" >
                    Minimum order amount should be settled using bank card</li>
                <li class="border">
                    Valid only on payments made online. Not valid on Card on Delivery</li>
                <li class="border" >
                    Voucher should be used at the time of placing the order</li>
                <li class="border" >
                    If bigbasket wallet credit is used at the time of placing the order, the voucher cannot be applied after the order is placed in 'Pay Now' option.</li>
                <li class="border">
                    Cannot be clubbed with any other offer</li>
                <li class="border" >
                    bigbasket has the right to cancel orders if found to be of fraudulent nature</li>
                <li class="border">
                    bigbasket &amp; Tata Neu HDFC reserves the right to change / modify / add / delete any of the terms and conditions of the offer at any time without notice</li>
                <li class="border">
                    Excludes the following products and categories from redemption: Baby Cereals, Baby Foods, Infant Formula, Organic Baby Foods and Srilalitha Rice of all pack sizes</li>
            </ul>
    </div>
    <div class="col-sm-3"></div>
    </div>
    <div class="d-grid gap-2 col-sm-2    mx-auto m-3">
        <button class="btn btn-shop" type="button">Shop Now</button>
     
      </div>
</div>