.img-head{
    height: 50px;
    width: 180px;
}
.header-img{
    padding: 30px 120px  ;
}

.hhh{
    background-color: rgb(247 247 247)
 
}

.card-btn{
    background-color: green;
    font-size: small;
}
