.img-head{
    height: 50px;
    width: 180px;
}
.header-img{
    padding: 30px 120px  ;
}

.hhh{
    background-color: rgb(247 247 247)
 
}

.card-btn{
    background-color: green;
    font-size: small;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
