<div class="container-fluid">
<div class="container ms-5 mt-3 ps-5">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/home-banner.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/home-banner1.webp" class="d-block w-100" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
<div class=" row d-flex  header-img">
    <img src="../../../../assets/images/head-1.webp" class="img-fluid img-responsive img-head ms-4">
    <img src="assets/images/head-2.webp" class="img-fluid img-responsive img-head">
    <img src="assets/images/head-3.webp" class="img-fluid img-responsive img-head">
    <img src="assets/images/head-4.webp" class="img-fluid img-responsive img-head">
    <img src="assets/images/head-5.webp" class="img-fluid img-responsive img-head">
    <img src="assets/images/head-6.webp" class="img-fluid img-responsive img-head ">
    </div>
<div class="container  hhh  ">
  
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row p-4" >
            <div class="col-sm-3">
                <div class="card" >
                  <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
                    <img src="assets/images/capsicum-green.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
                    <div class="card-body">
                      <p>Fresho</p>
                      <p>Capsicum - Green (Loose)</p>
                     
                   
              <div class="btn-group">
                <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
                  <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                 
                </ul>
              </div>
              <p><b>₹145</b><del>
                ₹198.63</del></p>
                <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
                       
                    </div>
                  </div>

       
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
            <img src="assets/images/carrot-orange.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
            <div class="card-body">
              <p>Fresho</p>
              <p>Carrot - Orange (Loose)</p>
             
           
      <div class="btn-group">
        <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
          <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
         
        </ul>
      </div>
      <p><b>₹81</b><del>
        ₹116.44</del></p>
        <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
               
            </div>
          </div>


</div>
<div class="col-sm-3">
    <div class="card" >
      <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
        <img src="assets/images/cucumber.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
        <div class="card-body">
          <p>Fresho</p>
          <p>Cucumber (Loose)</p>
         
       
  <div class="btn-group">
    <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
      <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
     
    </ul>
  </div>
  <p><b>₹71</b><del>
    ₹102.74</del></p>
    <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
           
        </div>
      </div>


</div>
<div class="col-sm-3">
    <div class="card" >
      <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
        <img src="assets/images/ladies-finger.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
        <div class="card-body">
          <p>Fresho</p>
        <p>Ladies Finger (Loose)</p>
       
     
<div class="btn-group">
  <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
    <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
   
  </ul>
</div>
<p><b>₹72</b><del>
  ₹100  </del></p>
  <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
         
        </div>
      </div>


</div> 
      </div>
      </div>
      <div class="carousel-item active">
        <div class="row p-4" >
            <div class="col-sm-3">
                <div class="card" >
                  <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
                    <img src="assets/images/onion.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
                    <div class="card-body">
                      <p>Fresho</p>
                      <p>Onion</p>
                     
                   
              <div class="btn-group">
                <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
                  <small>2 kg - Multipack</small><i class="bi bi-chevron-down ps-5"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                 
                </ul>
              </div>
              <p><b>₹55.1</b><del>
                ₹98.64</del></p>
                <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
                       
                    </div>
                  </div>

       
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
            <img src="assets/images/potato.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
            <div class="card-body">
              <p>Fresho</p>
              <p>Potato</p>
             
           
      <div class="btn-group">
        <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
          <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
         
        </ul>
      </div>
      <p><b>₹37</b><del>
        ₹50.44</del></p>
        <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
               
            </div>
          </div>


</div>
<div class="col-sm-3">
    <div class="card" >
      <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
        <img src="assets/images/tomato-local.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
        <div class="card-body">
          <p>Fresho</p>
          <p></p>
         
       
  <div class="btn-group">
    <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
      <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
     
    </ul>
  </div>
  <p><b>₹71</b><del>
    ₹102.74</del></p>
    <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
           
        </div>
      </div>


</div>
<div class="col-sm-3">
    <div class="card" >
      <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
        <img src="assets/images/atta-whole-wheat.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
        <div class="card-body">
          <p>Fresho</p>
        <p>Atta/Godhuma Pindi - Whole Wheat</p>
       
     
<div class="btn-group">
  <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
    <small>1kg</small><i class="bi bi-chevron-down ps-5"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
   
  </ul>
</div>
<p><b>₹72</b><del>
  ₹100  </del></p>
  <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
         
        </div>
      </div>


</div> 
      </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
   
  </div>


  </div>
  <div class="container pt-5">
    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Bank Offers</h4>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
        <a routerLink="hdfc"><img src="assets/images/hdfc.webp" class="card-img-top" alt="..."></a>
         
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <img src="assets/images/cred.webp" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" >
    <a routerLink="icici"><img src="assets/images/icici.webp" class="card-img-top" alt="..."></a>
        
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" >
          <img src="assets/images/mobikwik.webp" class="card-img-top" alt="...">
          
        </div>
      </div>
    </div>

  </div>
  <div class="container  hhh mt-5 ">
    <div class="row p-4" >
      <div class="col-sm-3">
          <div class="card" >
            <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
              <img src="assets/images/pampers.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
              <div class="card-body">
                <p>pampers</p>
                <p>Baby Wipes - With Aloe</p>
               
             
        <div class="btn-group">
          <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
            <small>72 pcs - (Pack of 2)</small><i class="bi bi-chevron-down ps-5"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
           
          </ul>
        </div>
        <p><b>₹358.8</b><del>
          ₹598</del></p>
          <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
                 
              </div>
            </div>

 
</div>
<div class="col-sm-3">
  <div class="card" >
    <div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
      <img src="assets/images/baby-wipes1.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
      <div class="card-body">
        <p>Bigbasket</p>
        <p>Baby Wipes - Fresh, No Paraben, Double</p>
       
     
<div class="btn-group">
  <button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
    <small>80pcs</small><i class="bi bi-chevron-down ps-5"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
   
  </ul>
</div>
<p><b>₹105</b><del>
  ₹199</del></p>
  <i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
         
      </div>
    </div>


</div>
<div class="col-sm-3">
<div class="card" >
<div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
  <img src="assets/images/baby-wipes2.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
  <div class="card-body">
    <p>Fresho</p>
    <p>Baby Wipes - Sea Breeze, No Paraben, Double</p>
   
 
<div class="btn-group">
<button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
<small>80pcs</small><i class="bi bi-chevron-down ps-5"></i>
</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="#">Action</a></li>
<li><a class="dropdown-item" href="#">Another action</a></li>
<li><a class="dropdown-item" href="#">Something else here</a></li>

</ul>
</div>
<p><b>₹105</b><del>
₹199</del></p>
<i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
     
  </div>
</div>


</div>
<div class="col-sm-3">
<div class="card" >
<div class="text-white  px-3 py-1 card-btn rounded-top position-absolute" style="top: 25px; left: 25px;">27% OFF </div>
  <img src="assets/images/baby-wipes3.webp" class="card-img-top w-75 card-img border m-4 " alt="...">
  <div class="card-body">
    <p>Bigbasket</p>
  <p>Baby Wipes - Cherry Blossom, No Paraben,</p>
 

<div class="btn-group">
<button type="button" class="btn  border" data-bs-toggle="dropdown" aria-expanded="false">
<small>80pcs</small><i class="bi bi-chevron-down ps-5"></i>
</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="#">Action</a></li>
<li><a class="dropdown-item" href="#">Another action</a></li>
<li><a class="dropdown-item" href="#">Something else here</a></li>

</ul>
</div>
<p><b>₹105</b><del>
₹199 </del></p>
<i class="bi bi-bookmark border p-2"></i><button type="button" class="btn btn-outline-danger btn-sm w-50 ms-5">Add</button>
   
  </div>
</div>


</div> 
</div>
    
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Top Offers</h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <img src="assets/images/offer-img1.webp" class="card-img-top" alt="...">
             
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/offer-img2.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/offer-img3.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/offer-img4.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fruits and Vegetables</h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="card ">
           <a routerLink="vegetbles"><img src="assets/images/fresh-vegetables.webp" class="card-img-top " alt="..."></a>
             
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card " >
        <a routerLink="beans"> <img src="assets/images/fresh-fruits.webp" class="card-img-top" alt="..."></a> 
              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
          <a routerLink="tomato"><img src="assets/images/cuts-exotics.webp" class="card-img-top" alt="..."></a>
            
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/herbs-seasoning.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Your Daily Staples</h4>
        <div class="row">
          <div class="col-sm-2">
            <div class="card ">
              <img src="assets/images/atta-flour.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card " >
              <img src="assets/images/rice-staples.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/dals-pulses.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/cooking-oils.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/dry-fruits.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/salt-staples.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Beverages</h4>
        <div class="row">
          <div class="col-sm-2">
            <div class="card ">
              <img src="assets/images/health-drinks.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card " >
              <img src="assets/images/tea-coffee.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/flavoured-soya.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/juices.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/energy-drinks.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/soft-drinks.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Snacks Store</h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="card ">
              <img src="assets/images/biscuits.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card " >
              <img src="assets/images/breakfast.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/pasta.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/sweet.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Cleaning & Household</h4>
        <div class="row">
          <div class="col-sm-3">
            <div class="card ">
              <img src="assets/images/cleaners.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card " >
              <img src="assets/images/detergents.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/disposables.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="assets/images/freshner.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Beauty and Hygiene</h4>
        <div class="row">
          <div class="col-sm-2">
            <div class="card ">
              <img src="assets/images/makeup.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card " >
              <img src="assets/images/moisturiser.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/perfumes.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/shaving.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/oil.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/bigger-saving.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="container pt-5">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Home and Kitchen</h4>
        <div class="row">
          <div class="col-sm-2">
            <div class="card ">
              <img src="assets/images/under-99.webp" class="card-img-top " alt="...">
             
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card " >
              <img src="assets/images/GM100-199.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/pressure-cooker.webp" class="card-img-top" alt="...">
            
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/stationery-store.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/storage-container.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card" >
              <img src="assets/images/cleaning-needs.webp" class="card-img-top" alt="...">
              
            </div>
          </div>
        </div>
    
      </div>
<div class="container">
      <div id="carouselExampleIndicators " class="carousel slide mt-5">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
       
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/babycare.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/petstore.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/tea-snacks.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/health-suupliment.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  

      
      <h4>bigbasket – online grocery store</h4>
      <p>Did you ever imagine that the freshest of fruits and vegetables, top-quality pulses and food grains, dairy products, and hundreds of branded items could be handpicked and delivered to your home, all at the click of a button? In today's fast-paced world, bigbasket.com, India's pioneering online grocery store, continues to bring a staggering array of over 40,000 products from more than 1,000 brands to the doorsteps of over 10 million satisfied customers. From essential household cleaning products to the latest beauty and makeup trends, bigbasket remains your one-stop shop for daily needs.</p>
     <p>In these times, we've eliminated the stress associated with shopping for daily essentials. You can now effortlessly order all your household products and groceries online. Plus, the added convenience of finding all your requirements at a single source, coupled with substantial savings, demonstrates that bigbasket, India's largest online supermarket, has transformed the way we shop for groceries. Online grocery shopping has become second nature. And when it comes to freshness, whether it's fruits and vegetables or dairy and meat, we've got you covered! Easily obtain fresh eggs, meat, fish, and more with just a few clicks.</p>
    <p>
      We now serve 300+ cities and towns across India and ensure swift delivery times, guaranteeing that all your groceries, snacks and branded foods reach you on time.
    </p>
    <p>Slotted Delivery: Choose the most convenient delivery slot to receive your groceries, ranging from early morning delivery for early birds to late-night delivery for those on the night shift. bigbasket caters to every schedule. </p>
    <p>Instant delivery from bbnow: In response to the ever-increasing demand for convenience, bbnow by bigbasket offers lightning-fast grocery delivery, ensuring that your essentials are at your doorstep within 15-30 minutes. Our quick delivery service has revolutionized the way you shop for groceries. Choose from 5000+ grocery essentials. bbnow is available only in select cities.</p>
    <p>Whether it's a last-minute dinner party or you simply need something urgently, we've got you covered. This service exemplifies our commitment to providing you with not just the widest range of products but also the fastest and most efficient shopping experience, making bigbasket.com the go-to destination for all your immediate grocery needs.</p>
    
    </div>
 
</div>

